---
import Layout from "../../layouts/Layout.astro";
import FaqCard from "../../components/FaqCard.astro";
import RouteLink from "../../components/RouteLink.astro";
---

<Layout
    title="Airport for Helicopter Flights | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section class="container mb-20 lg:w-10/12 lg:flex-row lg:mx-auto">
        <div class="flex gap-5 mt-20 mb-20">
            <article class="w-1/2">
                <h1>
                    Helicopter Flight from <span class="text-cta-600"
                        >Cancun to Playa del Carmen</span
                    >
                </h1>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Soluta, quaerat vitae ullam sint dicta ducimus quae eaque
                    quibusdam molestiae voluptatibus voluptates quia sed.
                    Repellat, totam voluptatem officiis perferendis velit
                    deserunt. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Soluta iusto repellat cum, magni qui deserunt veniam
                    aut ad deleniti cupiditate maiores dicta, quia nesciunt nam
                    ipsum harum ipsa provident quam.
                </p>
                <p class="mb-5">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Dolore ratione aperiam corrupti cupiditate libero
                    perferendis blanditiis, ipsum quaerat excepturi iste quae et
                    ut at quam earum id omnis quasi impedit!
                </p>
            </article>
            <div class="bg-gray-50 p-5 w-1/2 h-[500px] text-center">
                Map with route Cancun to Playa del Carmen
            </div>
        </div>

        <h2 class="mb-5">Helicopter Flight Information</h2>
        <article
            class="group transition-all duration-300 border-2 border-gray-200 mb-5 p-5"
        >
            <h4 class="mb-3">Cancun to Playa del Carmen</h4>
            <div class="grid gap-5 grid-cols-1 lg:grid-cols-3">
                <div>
                    <b class="block mb-3">Information</b>
                    <div class="flex gap-1 mb-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            ><path
                                fill="#000000"
                                d="M6 2h12v6l-4 4l4 4v6H6v-6l4-4l-4-4zm10 14.5l-4-4l-4 4V20h8zm-4-5l4-4V4H8v3.5zM10 6h4v.75l-2 2l-2-2z"
                            ></path></svg
                        >
                        <span class="text-sm">45min. Flight</span>
                    </div>
                    <div class="flex gap-1 mb-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 256 256"
                            ><path
                                fill="#000000"
                                d="m254.07 106.79l-45.54-53.06A16 16 0 0 0 196.26 48H32a16 16 0 0 0-16 16v112a16 16 0 0 0 16 16h17a32 32 0 0 0 62 0h50a32 32 0 0 0 62 0h17a16 16 0 0 0 16-16v-64a8 8 0 0 0-1.93-5.21M230.59 104H176V64h20.26ZM104 104V64h56v40ZM88 64v40H32V64Zm-8 136a16 16 0 1 1 16-16a16 16 0 0 1-16 16m112 0a16 16 0 1 1 16-16a16 16 0 0 1-16 16m31-24a32 32 0 0 0-62 0h-50a32 32 0 0 0-62 0H32v-56h208v56Z"
                            ></path></svg
                        >
                        <span class="text-sm">Transportation Included</span>
                    </div>
                    <div class="flex gap-1 mb-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            ><path
                                fill="#000000"
                                d="M6.5 8.11c-.89 0-1.61-.72-1.61-1.61A1.61 1.61 0 0 1 6.5 4.89c.89 0 1.61.72 1.61 1.61A1.61 1.61 0 0 1 6.5 8.11M6.5 2C4 2 2 4 2 6.5c0 3.37 4.5 8.36 4.5 8.36S11 9.87 11 6.5C11 4 9 2 6.5 2m11 6.11a1.61 1.61 0 0 1-1.61-1.61a1.609 1.609 0 1 1 3.22 0a1.61 1.61 0 0 1-1.61 1.61m0-6.11C15 2 13 4 13 6.5c0 3.37 4.5 8.36 4.5 8.36S22 9.87 22 6.5C22 4 20 2 17.5 2m0 14c-1.27 0-2.4.8-2.82 2H9.32a3 3 0 0 0-3.82-1.83A3.003 3.003 0 0 0 3.66 20a3.017 3.017 0 0 0 3.84 1.83c.85-.3 1.5-.98 1.82-1.83h5.37c.55 1.56 2.27 2.38 3.81 1.83A3 3 0 0 0 20.35 18c-.43-1.2-1.57-2-2.85-2m0 4.5A1.5 1.5 0 0 1 16 19a1.5 1.5 0 0 1 1.5-1.5A1.5 1.5 0 0 1 19 19a1.5 1.5 0 0 1-1.5 1.5"
                            ></path></svg
                        >
                        <span class="text-sm">200km Distance traveled</span>
                    </div>
                </div>
                <div>
                    <b class="block mb-3">Contact</b>
                    <div class="flex gap-1 mb-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            ><path
                                fill="#000000"
                                d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01A9.82 9.82 0 0 0 12.04 2m.01 1.67c2.2 0 4.26.86 5.82 2.42a8.23 8.23 0 0 1 2.41 5.83c0 4.54-3.7 8.23-8.24 8.23c-1.48 0-2.93-.39-4.19-1.15l-.3-.17l-3.12.82l.83-3.04l-.2-.32a8.2 8.2 0 0 1-1.26-4.38c.01-4.54 3.7-8.24 8.25-8.24M8.53 7.33c-.16 0-.43.06-.66.31c-.22.25-.87.86-.87 2.07c0 1.22.89 2.39 1 2.56c.14.17 1.76 2.67 4.25 3.73c.59.27 1.05.42 1.41.53c.59.19 1.13.16 1.56.1c.48-.07 1.46-.6 1.67-1.18s.21-1.07.15-1.18c-.07-.1-.23-.16-.48-.27c-.25-.14-1.47-.74-1.69-.82c-.23-.08-.37-.12-.56.12c-.16.25-.64.81-.78.97c-.15.17-.29.19-.53.07c-.26-.13-1.06-.39-2-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.12-.24-.01-.39.11-.5c.11-.11.27-.29.37-.44c.13-.14.17-.25.25-.41c.08-.17.04-.31-.02-.43c-.06-.11-.56-1.35-.77-1.84c-.2-.48-.4-.42-.56-.43c-.14 0-.3-.01-.47-.01"
                            ></path></svg
                        >
                        <span class="text-sm">+52 (998) 223 5999</span>
                    </div>
                    <div class="flex gap-1 mb-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            ><path
                                fill="#000000"
                                d="m16.052 1.787l.966.261a7 7 0 0 1 4.93 4.934l.26.965l-1.93.521l-.261-.965a5 5 0 0 0-3.522-3.524l-.965-.262zM1 2h8.58l1.487 6.69l-1.86 1.86a14.08 14.08 0 0 0 4.243 4.242l1.86-1.859L22 14.42V23h-1a19.91 19.91 0 0 1-10.85-3.196a20.102 20.102 0 0 1-5.954-5.954A19.911 19.911 0 0 1 1 3zm2.027 2a17.894 17.894 0 0 0 2.849 8.764a18.102 18.102 0 0 0 5.36 5.36A17.892 17.892 0 0 0 20 20.973v-4.949l-4.053-.9l-2.174 2.175l-.663-.377a16.073 16.073 0 0 1-6.032-6.032l-.377-.663l2.175-2.174L7.976 4zm12.111 1.165l.966.261a3.5 3.5 0 0 1 2.465 2.467l.26.965l-1.93.521l-.261-.965a1.5 1.5 0 0 0-1.057-1.057l-.965-.261z"
                            ></path></svg
                        >
                        <span class="text-sm">1 855 577 9836</span>
                    </div>
                    <div class="flex gap-1 mb-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            ><g
                                fill="none"
                                stroke="#000000"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="1.5"
                                color="#000000"
                                ><path
                                    d="m2 5l6.913 3.925c2.526 1.433 3.648 1.433 6.174 0L22 5"
                                ></path><path
                                    d="M10.5 19.5a116 116 0 0 1-1.401-.027c-3.149-.079-4.723-.118-5.854-1.255c-1.131-1.136-1.164-2.67-1.23-5.737a69 69 0 0 1 0-2.953c.066-3.067.099-4.6 1.23-5.737C4.376 2.655 5.95 2.616 9.099 2.537a115 115 0 0 1 5.802 0c3.149.079 4.723.118 5.854 1.254s1.164 2.67 1.23 5.737c.009.455.014.668.015.972"
                                ></path><path
                                    d="M19 17a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0 0v.5a1.5 1.5 0 0 0 3 0V17a4.5 4.5 0 1 0-4.5 4.5"
                                ></path></g
                            ></svg
                        >
                        <span class="text-sm">hi@caribbehelicopters.com</span>
                    </div>
                </div>
                <div>
                    <b class="block text-4xl font-bold text-center"
                        >1,200<small class="text-sm">USD</small></b
                    >
                    <a
                        class="block mt-3 bg-black text-white text-center py-3 text-lg"
                        href="#">Book Now</a
                    >
                </div>
            </div>
        </article>

        <div class="grid gap-5 grid-cols-2 mb-20 lg:grid-cols-4">
            <div><img src="/public/post.jpg" alt="" /></div>
            <div><img src="/public/post.jpg" alt="" /></div>
            <div><img src="/public/post.jpg" alt="" /></div>
            <div><img src="/public/post.jpg" alt="" /></div>
        </div>

        <h3 class="mt-10">Helicopter Flights from Cancun</h3>
        <p class="mb-5">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
            architecto consectetur itaque saepe laudantium deserunt perspiciatis
            cumque inventore minus eum, odit est soluta in numquam quo
            blanditiis nemo vitae veritatis. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Vitae explicabo, eius velit nesciunt
            necessitatibus beatae maiores, suscipit, tempore voluptate
            voluptatibus iusto adipisci ut! Amet cupiditate, nobis dolore
            possimus illo beatae?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            recusandae quisquam necessitatibus excepturi quas. Eum aspernatur
            aliquam magnam incidunt molestiae autem quas amet, dolores veniam.
            Amet at ut aliquam dignissimos.
        </p>
    </section>
</Layout>
