---
import Layout from "../../layouts/Layout.astro";
import FaqCard from "../../components/FaqCard.astro";
import RouteLink from "../../components/RouteLink.astro";
---

<Layout
    title="Airport for Helicopter Flights | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section class="container mb-20 lg:w-10/12 lg:flex-row lg:mx-auto">
        <div class="flex gap-5 mt-20 mb-20">
            <article class="w-1/2">
                <h1>Cancun Airport</h1>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Soluta, quaerat vitae ullam sint dicta ducimus quae eaque
                    quibusdam molestiae voluptatibus voluptates quia sed.
                    Repellat, totam voluptatem officiis perferendis velit
                    deserunt. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Soluta iusto repellat cum, magni qui deserunt veniam
                    aut ad deleniti cupiditate maiores dicta, quia nesciunt nam
                    ipsum harum ipsa provident quam.
                </p>
                <p class="mb-5">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Dolore ratione aperiam corrupti cupiditate libero
                    perferendis blanditiis, ipsum quaerat excepturi iste quae et
                    ut at quam earum id omnis quasi impedit!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Qui laboriosam quidem aut fuga aliquam reiciendis harum enim
                    laudantium nobis, saepe delectus ad temporibus voluptas
                    officia! In non quisquam nobis dignissimos. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Officia
                    molestias dolores sit exercitationem libero accusamus
                    aspernatur, nemo ratione ipsa quidem assumenda quis minus
                    tempora maxime laborum quia, cumque fugiat nesciunt.
                </p>
            </article>
            <div class="bg-gray-50 p-5 w-1/2 h-[500px]"></div>
        </div>

        <div class="grid gap-5 grid-cols-2 lg:grid-cols-4">
            <div><img src="post.jpg" alt="" /></div>
            <div><img src="post.jpg" alt="" /></div>
            <div><img src="post.jpg" alt="" /></div>
            <div><img src="post.jpg" alt="" /></div>
        </div>

        <div class="mt-20 flex gap-5">
            <article class="w-1/2">
                <h2>Cancun Airport Information</h2>
                <table class="bg-gray-50">
                    <tbody>
                        <tr>
                            <td>IATA Code</td>
                            <td>CUN</td>
                        </tr>
                        <tr>
                            <td>ICAO Code</td>
                            <td>MMUN</td>
                        </tr>
                        <tr>
                            <td>Area World Code</td>
                            <td>148</td>
                        </tr>
                        <tr>
                            <td>Inaguration</td>
                            <td>1974</td>
                        </tr>
                        <tr>
                            <td>Operating</td>
                            <td>24/7</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>+52 (998) 848 7200</td>
                        </tr>
                        <tr>
                            <td>GMT</td>
                            <td>-06:00Hrs</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td
                                >Carr. Cancun - Chetumal Km. 22 Cancún, Quintana
                                Roo México</td
                            >
                        </tr>
                        <tr>
                            <td>Longitude</td>
                            <td>86° 52' 37"</td>
                        </tr>
                        <tr>
                            <td>Latitude</td>
                            <td>21° 2' 12"</td>
                        </tr>
                    </tbody>
                </table>
            </article>
            <article class="w-1/2">
                <h2>Cancun Airport Routes</h2>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vero reprehenderit consequuntur blanditiis nemo placeat,
                    autem asperiores? Illum repellendus impedit possimus, error
                    vel quam voluptatem optio numquam, nam explicabo esse?
                    Eaque.
                </p>
                <RouteLink
                    route="Cancun to Playa del Carmen"
                    url="cancun-to-playa-del-carmen"
                />
                <RouteLink route="Cancun to Cozumel" url="cancun-to-cozumel" />
                <RouteLink route="Cancun to Holbox" url="cancun-to-holbox" />
                <RouteLink
                    route="Cancun to Chichen Itza"
                    url="cancun-to-chichen-itza"
                />
            </article>
        </div>

        <h3 class="mt-20 mb-5">Cancun Airport FAQs</h3>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
    </section>
</Layout>
<style>
    table {
        border: 2px solid #e8e8e8;
        tr {
            td {
                padding: 10px;
                border: 2px solid #e8e8e8;
            }
            td:last-of-type {
                font-weight: bold;
            }
        }
    }
</style>
