---
import Layout from "../layouts/Layout.astro";
import AirportDataCard from "../components/AirportDataCard.astro";
---

<Layout
    title="Airport for Helicopter Flights | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section
        class="mb-20 bg-[url('/public/bg-section.jpg')] bg-no-repeat bg-cover bg-center bg-fixed relative py-20"
    >
        <article
            class="text-center relative z-[200] text-white lg:w-10/12 lg:mx-auto"
        >
            <h1>Helicopter Flights Airports</h1>
            <p class="text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur, nisi odit! Delectus soluta dolor ipsam voluptate
                nesciunt aperiam accusantium asperiores consectetur tenetur
                harum.
            </p>
        </article>
        <div class="mask-section"></div>
    </section>

    <section class="container mb-20 lg:w-10/12 lg:flex-row lg:mx-auto">
        <div class="flex gap-5 mt-20 mb-20">
            <article class="w-1/2">
                <h2>Airports in the Caribbean</h2>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Soluta, quaerat vitae ullam sint dicta ducimus quae eaque
                    quibusdam molestiae voluptatibus voluptates quia sed.
                    Repellat, totam voluptatem officiis perferendis velit
                    deserunt. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Soluta iusto repellat cum, magni qui deserunt veniam
                    aut ad deleniti cupiditate maiores dicta, quia nesciunt nam
                    ipsum harum ipsa provident quam.
                </p>
                <p class="mb-5">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Dolore ratione aperiam corrupti cupiditate libero
                    perferendis blanditiis, ipsum quaerat excepturi iste quae et
                    ut at quam earum id omnis quasi impedit!
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Qui laboriosam quidem aut fuga aliquam reiciendis harum enim
                    laudantium nobis, saepe delectus ad temporibus voluptas
                    officia! In non quisquam nobis dignissimos. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Officia
                    molestias dolores sit exercitationem libero accusamus
                    aspernatur, nemo ratione ipsa quidem assumenda quis minus
                    tempora maxime laborum quia, cumque fugiat nesciunt.
                </p>
            </article>
            <div class="bg-gray-50 p-5 w-1/2 h-[500px]"></div>
        </div>

        <AirportDataCard airport="Cancun" link="cancun" />
        <AirportDataCard airport="Playa del Carmen" link="playa-del-carmen" />
        <AirportDataCard airport="Cozumel" link="cozumel" />
        <AirportDataCard airport="Tulum" link="tulum" />
    </section>
</Layout>
