---
import Layout from "../layouts/Layout.astro";
import FaqCard from "../components/FaqCard.astro";
---

<Layout
    title="Helicopter Flights Services in Cancun | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section class="px-5 mb-20 relative py-20 bg-gray-100 lg:px-5">
        <article class="lg:w-10/12 lg:mx-auto">
            <h1>
                Helicopter Flights <span class="text-cta-600">Contact</span>
            </h1>
            <p class="text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur, nisi odit! Delectus soluta dolor ipsam voluptate
                nesciunt aperiam accusantium asperiores consectetur tenetur
                harum.
            </p>
        </article>
    </section>

    <section
        class="container px-5 mb-20 lg:w-10/12 lg:flex-row lg:mx-auto lg:px-0"
    >
        <div class="grid grid-cols-2 gap-5 lg:grid-cols-4">
            <article class="group">
                <h4>Call Us</h4>
                <p>+(52) 998 113 5966</p>
            </article>
            <article class="group">
                <h4>Whatsapp</h4>
                <p>+(52) 998 113 5966</p>
            </article>
            <article class="group">
                <h4>Write us</h4>
                <p>hello@caribehelicopters.com</p>
            </article>
            <article class="group">
                <h4>Address</h4>
                <p>Cancun Q. Roo. Mexico</p>
            </article>
        </div>

        <div class="mt-24">
            <h2 class="lg:text-center">How can we help you today?</h2>
            <p class="mb-10 lg:text-center">
                Like you, we want you to live the wonderful experience of flying
                in helicopter over the fascinating Mexican Caribbean Sea, so
                let's solve all your doubts.
            </p>
            <form
                class="flex flex-col gap-y-5 p-0 lg:flex-wrap lg:justify-between lg:flex-row"
            >
                <div class="fieldbox lg:px-5 lg:w-1/2">
                    <label for="">Full name</label>
                    <input type="text" />
                </div>
                <div class="fieldbox lg:px-5 lg:w-1/2">
                    <label for="">Email</label>
                    <input type="text" />
                </div>
                <div class="fieldbox lg:px-5 lg:w-1/2">
                    <label for="">Phone number</label>
                    <input type="text" />
                </div>
                <div class="fieldbox lg:px-5 lg:w-1/2">
                    <label for="">What help do you need?</label>
                    <select name="" id="">
                        <option value="Information">General Information</option>
                        <option value="Flights">Helicopter Flights</option>
                        <option value="Overflights"
                            >Helicopter Overflights</option
                        >
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="fieldbox lg:px-5 lg:w-full">
                    <label for="">Message</label>
                    <textarea name="" id="" rows="4"></textarea>
                </div>
                <div class="lg:px-5 lg:w-full">
                    <button
                        class="bg-cta-600 text-white relative py-4 px-7 text-lg font-bold flex z-20 w-full mx-auto mt-5 items-center gap-3 justify-center transition-all duration-300 hover:bg-second-950 hover:text-white hover:shadow-xl lg:w-fit lg:m-0"
                    >
                        <span>Contact us</span>
                        <img src="svg/arrow-next-white.svg" width="20" alt="" />
                    </button>
                </div>
            </form>
        </div>
    </section>
</Layout>
