---
import Layout from "../layouts/Layout.astro";
import FaqCard from "../components/FaqCard.astro";
---

<Layout
    title="About Caribe Helicopters | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section class="px-5 mb-20 relative py-20 bg-gray-100 lg:px-0">
        <article class="lg:w-10/12 lg:mx-auto lg:text-center">
            <h1>
                Helicopter Flights <span class="text-cta-600"
                    >Frequently Asked</span
                >
            </h1>
            <p class="text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur, nisi odit! Delectus soluta dolor ipsam voluptate
                nesciunt aperiam accusantium asperiores consectetur tenetur
                harum.
            </p>
        </article>
    </section>
    <section class="px-5 mb-20 lg:px-0 lg:w-10/12 lg:mx-auto">
        <div class="flex flex-col justify-between gap-5 lg:flex-row">
            <div class="lg:w-2/3">
                <div class="mb-20">
                    <h2>General Questions</h2>
                    <p class="mb-10">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Facere, labore recusandae placeat deserunt odit
                        saepe tenetur harum incidunt provident dignissimos
                        assumenda veritatis dolor amet perspiciatis beatae
                        corporis in explicabo eius!
                    </p>
                    <FaqCard
                        question="How safe is it really to travel in private and non-commercial helicopters?"
                    >
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Adipisci saepe eum, iure quam, provident
                            voluptatum asperiores veritatis rerum quibusdam
                            maxime ipsam amet quisquam optio tempore ex,
                            sapiente ullam consequuntur <b>reiciendis.</b>
                        </p>
                    </FaqCard>
                    <FaqCard
                        question="How safe is it really to travel in private and non-commercial helicopters?"
                    >
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Adipisci saepe eum, iure quam, provident
                            voluptatum asperiores veritatis rerum quibusdam
                            maxime ipsam amet quisquam optio tempore ex,
                            sapiente ullam consequuntur <b>reiciendis.</b>
                        </p>
                    </FaqCard>
                </div>
                <div class="mb-20">
                    <h2>Booking Questions</h2>
                    <p class="mb-10">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Facere, labore recusandae placeat deserunt odit
                        saepe tenetur harum incidunt provident dignissimos
                        assumenda veritatis dolor amet perspiciatis beatae
                        corporis in explicabo eius!
                    </p>
                    <FaqCard
                        question="How safe is it really to travel in private and non-commercial helicopters?"
                    >
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Adipisci saepe eum, iure quam, provident
                            voluptatum asperiores veritatis rerum quibusdam
                            maxime ipsam amet quisquam optio tempore ex,
                            sapiente ullam consequuntur <b>reiciendis.</b>
                        </p>
                    </FaqCard>
                    <FaqCard
                        question="How safe is it really to travel in private and non-commercial helicopters?"
                    >
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Adipisci saepe eum, iure quam, provident
                            voluptatum asperiores veritatis rerum quibusdam
                            maxime ipsam amet quisquam optio tempore ex,
                            sapiente ullam consequuntur <b>reiciendis.</b>
                        </p>
                    </FaqCard>
                </div>
                <div class="mb-20">
                    <h2>Services Questions</h2>
                    <p class="mb-10">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Facere, labore recusandae placeat deserunt odit
                        saepe tenetur harum incidunt provident dignissimos
                        assumenda veritatis dolor amet perspiciatis beatae
                        corporis in explicabo eius!
                    </p>
                    <FaqCard
                        question="How safe is it really to travel in private and non-commercial helicopters?"
                    >
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Adipisci saepe eum, iure quam, provident
                            voluptatum asperiores veritatis rerum quibusdam
                            maxime ipsam amet quisquam optio tempore ex,
                            sapiente ullam consequuntur <b>reiciendis.</b>
                        </p>
                    </FaqCard>
                    <FaqCard
                        question="How safe is it really to travel in private and non-commercial helicopters?"
                    >
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Adipisci saepe eum, iure quam, provident
                            voluptatum asperiores veritatis rerum quibusdam
                            maxime ipsam amet quisquam optio tempore ex,
                            sapiente ullam consequuntur <b>reiciendis.</b>
                        </p>
                    </FaqCard>
                </div>
            </div>
            <aside class="lg:w-1/3">
                <div class="bg-gray-100 p-5">
                    <ul>
                        <li class="block my-3">
                            <a href="#" class="block">1. General Questions</a>
                        </li>
                        <li class="block my-3">
                            <a href="#" class="block">2. Booking Questions</a>
                        </li>
                        <li class="block my-3">
                            <a href="#" class="block">3. Services Questions</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </section>
</Layout>
