---
import Layout from "../layouts/Layout.astro";
import FaqCard from "../components/FaqCard.astro";
import PostCard from "../components/PostCard.astro";
import PopularCard from "../components/PopularCard.astro";
import ReviewCard from "../components/ReviewCard.astro";
---

<Layout
	title="Helicopter Flights in Cancun, Holbox, Cozumel and the Caribbean | Caribe Helicopters"
	description=""
	headerTheme="transparent"
>
	<section class="flex flex-col lg:h-[600px] mb-10">
		<div class="overview p-5 lg:w-3/5 lg:pl-14">
			<h1 class="mt-[100px] lg:mt-[200px]">
				Helicopter Flights in Cancun
			</h1>
			<p class="text-lg mb-10">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Consequatur, nisi odit! Delectus soluta dolor ipsam voluptate
				nesciunt aperiam accusantium asperiores consectetur tenetur
				harum.
			</p>
			<a
				href=""
				class="bg-cta-600 text-white relative py-4 px-7 text-lg font-bold flex z-20 w-10/12 mx-auto mt-5 lg:w-fit items-center gap-3 justify-center transition-all duration-300 hover:bg-second-500 hover:shadow-xl"
			>
				<span>Hire a Flight</span>
			</a>
		</div>
		<div class="bg-gray-50 p-5 lg:w-2/5">
			<img
				src="hero-helicopter.jpg"
				alt=""
				class="-mt-[120px] z-10 lg:h-[600px] object-cover"
			/>
		</div>
	</section>
	<section class="container mb-20 p-5 lg:w-10/12 lg:flex-row lg:mx-auto">
		<h2 class="text-center">Helicopter Flight Services</h2>
		<p class="text-center mb-10">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
			minima necessitatibus repudiandae modi sit corporis maxime
			perferendis ipsum sapiente deserunt. Temporibus molestiae
			voluptatibus soluta! Eveniet vel mollitia facere a consequuntur?
		</p>

		<div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
			<article
				class="relative group border-4 border-second-100 transition-all duration-300 hover:border-second-200 hover:shadow-xl"
			>
				<div class="overflow-hidden">
					<a href="/flights" title="Helicopter Flights in Cancun">
						<img
							src="overflights.jpg"
							alt=""
							class="transition-all duration-300 group-hover:scale-[1.1]"
						/>
					</a>
				</div>
				<div class="bg-second-100 p-3">
					<h3 class="transition-all duration-300">
						Helicopter Transfers
					</h3>
					<a href="#" class="text-base flex items-center gap-1">
						<span>Explore</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							><path
								fill="none"
								stroke="#000000"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								d="M4 12h16m0 0l-6-6m6 6l-6 6"></path></svg
						>
					</a>
				</div>
			</article>
			<article
				class="relative group border-4 border-second-100 transition-all duration-300 hover:border-second-200 hover:shadow-xl"
			>
				<div class="overflow-hidden">
					<a href="/flights" title="Helicopter Flights in Cancun">
						<img
							src="helicopter-flights.jpg"
							alt=""
							class="transition-all duration-300 group-hover:scale-[1.1]"
						/>
					</a>
				</div>
				<div class="bg-second-100 p-3">
					<h3 class="transition-all duration-300">Overflights</h3>
					<a href="#" class="text-base flex items-center gap-1">
						<span>Explore</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							><path
								fill="none"
								stroke="#000000"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								d="M4 12h16m0 0l-6-6m6 6l-6 6"></path></svg
						>
					</a>
				</div>
			</article>
			<article
				class="relative group border-4 border-second-100 transition-all duration-300 hover:border-second-200 hover:shadow-xl"
			>
				<div class="overflow-hidden">
					<a href="/flights" title="Helicopter Flights in Cancun">
						<img
							src="overflights.jpg"
							alt=""
							class="transition-all duration-300 group-hover:scale-[1.1]"
						/>
					</a>
				</div>
				<div class="bg-second-100 p-3">
					<h3 class="transition-all duration-300">
						Tours in Helicopter
					</h3>
					<a href="#" class="text-base flex items-center gap-1">
						<span>Explore</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							><path
								fill="none"
								stroke="#000000"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								d="M4 12h16m0 0l-6-6m6 6l-6 6"></path></svg
						>
					</a>
				</div>
			</article>
		</div>

		<div class="flex flex-col mt-24 gap-10">
			<figure class="hidden lg:w-1/3">
				<img src="helicopter-figure.png" alt="" />
			</figure>
			<div class="text-center lg:w-2/3">
				<h3>About Caribe Helicopters</h3>
				<p class="mb-5">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Nesciunt, neque voluptatibus quaerat molestias velit nisi
					amet nobis dolore non veniam nostrum sapiente cupiditate aut
					delectus, unde aliquam vero, porro impedit. Lorem ipsum
					dolor sit amet consectetur adipisicing elit.
				</p>
				<p class="mb-10">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Similique sequi eum qui quia natus nihil iusto beatae,
					itaque totam obcaecati, vel fuga ab ipsam officiis nobis non
					nemo? Quisquam, culpa?
				</p>

				<div class="grid grid-cols-1 gap-5 mb-10 lg:grid-cols-2">
					<article
						class="border-2 border-cta-600 p-5 shadow-sm transition-all duration-300 hover:shadow-xl"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							class="mx-auto"
							viewBox="0 0 24 24"
							><path
								fill="#CE6420"
								d="m12 .44l10 3.5V12c0 4.127-2.533 7.012-4.896 8.803a19.7 19.7 0 0 1-4.65 2.595l-.087.033l-.025.009l-.007.002l-.003.001c-.001 0-.002 0-.332-.943l-.331.944h-.001l-.003-.002l-.007-.002l-.025-.01l-.087-.032a18 18 0 0 1-1.39-.606a20 20 0 0 1-3.26-1.989C4.534 19.012 2 16.127 2 12V3.94zm0 22.06l-.331.944l.331.116l.331-.116zm0-1.072l.009-.004a17.8 17.8 0 0 0 3.887-2.215C18.034 17.59 20 15.223 20 12V5.36l-8-2.8l-8 2.8V12c0 3.223 1.966 5.588 4.104 7.21A17.8 17.8 0 0 0 12 21.428m6.072-13.085l-7.071 7.071l-4.243-4.242l1.415-1.415L11 12.586l5.657-5.657z"
							></path></svg
						>
						<h4 class="mt-5">We are Safety</h4>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Numquam vitae excepturi quia optio vel
							asperiores.
						</p>
					</article>
					<article
						class="border-2 border-cta-600 p-5 shadow-sm transition-all duration-300 hover:shadow-xl"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							class="mx-auto"
							viewBox="0 0 28 28"
							><path
								fill="#CE6420"
								d="M20.75 3a1 1 0 0 1 .78.375l.075.106l4.25 7a1 1 0 0 1-.015 1.063l-.077.102l-11 13a1 1 0 0 1-1.442.088l-.084-.088l-11-13a1 1 0 0 1-.15-1.052l.058-.113l4.25-7a1 1 0 0 1 .725-.473L7.25 3zm-3.235 9h-7.031l3.515 8.672zm5.329 0h-3.171l-2.917 7.195zM8.326 12H5.155l6.087 7.193zm1.348-7H7.811l-3.036 5h3.47zm6.572 0h-4.493l-1.429 5h7.351zm3.942 0h-1.863l1.429 5h3.47z"
							></path></svg
						>
						<h4 class="mt-5">Providing Quality</h4>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Numquam vitae excepturi quia optio vel
							asperiores.
						</p>
					</article>
					<article
						class="border-2 border-cta-600 p-5 shadow-sm transition-all duration-300 hover:shadow-xl"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							class="mx-auto"
							viewBox="0 0 24 24"
							><path
								fill="#CE6420"
								d="M13 9V1.07A8.01 8.01 0 0 1 19.75 7c.16.64.25 1.31.25 2zm4.66-2c-.48-1.35-1.43-2.5-2.66-3.19V7zM6 15v-2h12v2c0 1.59-.63 3.12-1.76 4.24A5.97 5.97 0 0 1 12 21a5.97 5.97 0 0 1-4.24-1.76A5.97 5.97 0 0 1 6 15m-2 0c0 2.12.84 4.16 2.34 5.66S9.88 23 12 23s4.16-.84 5.66-2.34S20 17.12 20 15v-4H4zm7-6V1.07C7.06 1.56 4 4.92 4 9z"
							></path></svg
						>
						<h4 class="mt-5">Quick and easy</h4>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Numquam vitae excepturi quia optio vel
							asperiores.
						</p>
					</article>
					<article
						class="border-2 border-cta-600 p-5 shadow-sm transition-all duration-300 hover:shadow-xl"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							class="mx-auto"
							viewBox="0 0 21 24"
							><path
								fill="#CE6420"
								d="M3.267 23.498a5.106 5.106 0 0 1-.044-1.068l-.001.015l.017-.844l1.07-.034l.502-.761c.217-.34.438-.634.678-.911l-.008.009l.16-.135h5.054c4.89 0 5.065.006 5.194.107c.235.266.456.559.654.868l.017.028l.535.794l1.07.034l.017.704c.028 1.026-.017 1.28-.24 1.504a.488.488 0 0 1-.448.185h.002a.496.496 0 0 1-.449-.184l-.001-.001c-.169-.16-1.746-2.434-1.82-2.62a42.085 42.085 0 0 0-2.911-.098c-.565 0-1.128.011-1.688.032l.081-.002l-4.485.006l-.872 1.296a17.106 17.106 0 0 1-1.058 1.474l.026-.034a.588.588 0 0 1-.38.138H3.93a.702.702 0 0 1-.663-.497zm7.42-5.093l-4.607-.017l-.897-.902l-.902-.902v-2.425c0-1.33.028-2.665.056-2.96a6.423 6.423 0 0 1 3.483-5.07l.037-.017c.46-.242.994-.433 1.556-.546l.038-.006a7.736 7.736 0 0 1 2.896.089l-.051-.01a6.556 6.556 0 0 1 2.886 1.646l-.001-.001a6.392 6.392 0 0 1 1.802 3.311l.007.041a21.914 21.914 0 0 1 .117 3.216l.001-.038l.028 2.755l-.924.924l-.924.918zm-.89-2.56a.701.701 0 0 0-.238.944l-.002-.003c.174.293.333.338 1.172.338h.766l.203-.186a.676.676 0 0 0-.104-1.108l-.003-.002c-.152-.096-.287-.113-.89-.113c-.65-.004-.729.007-.904.125zM6 10.05a5.343 5.343 0 0 0-.319 2.225l-.001-.016l-.006 1.04l.907.913l.911.909l.428-.011c.422-.006.422-.006.687-.265l.259-.259h3.662l.265.259l.259.259h.88l1.786-1.786v-1.03a5.27 5.27 0 0 0-.38-2.396l.013.035a5.033 5.033 0 0 0-3.704-3.035l-.031-.005a4.698 4.698 0 0 0-.902-.086h-.004a5.083 5.083 0 0 0-4.699 3.215l-.012.034zm3.431-5.916l.13-.874c.067-.48.13-.88.13-.89s-2.18-.011-4.845-.011H0V1.007h9.69V.866a1.08 1.08 0 0 1 .613-.808l.007-.003a1.296 1.296 0 0 1 .815.02l-.009-.003c.287.139.5.394.578.702l.002.007l.039.226h9.674v1.352h-9.696l.028.18c.074.434.203 1.409.203 1.498s-.107.096-1.256.096z"
							></path></svg
						>
						<h4 class="mt-5">Private Services</h4>
						<p>
							Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Numquam vitae excepturi quia optio vel
							asperiores.
						</p>
					</article>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-second-400 p-5 mt-24">
		<div class="container mb-20 lg:w-10/12 lg:flex-row lg:mx-auto">
			<h2 class="text-center text-white">
				Experiences in Helicopter Most Popular
			</h2>
			<p class="text-white text-center mb-10">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				Possimus ea quae cum suscipit, omnis veritatis dolores ipsa?
				Architecto voluptas nisi laudantium sequi expedita, veritatis
				possimus ea exercitationem, eos ducimus molestias.
			</p>
			<div class="grid gap-5 lg:grid-cols-4">
				<PopularCard
					title="Flight over Cancun"
					link="#"
					placeName="Cancun"
					placeLink="#"
					pricing="1,200"
				/>
				<PopularCard
					title="Chichen Itza Aero Tour"
					link="#"
					placeName="Chichen Itza"
					placeLink="#"
					pricing="1,200"
				/>
				<PopularCard
					title="Flight over Cozumel"
					link="#"
					placeName="Cozumel"
					placeLink="#"
					pricing="1,200"
				/>
				<PopularCard
					title="Aero Transfer to Holbox"
					link="#"
					placeName="Holbox"
					placeLink="#"
					pricing="1,200"
				/>
			</div>
		</div>
	</section>

	<section class="bg-second-100 py-10">
		<div class="container p-5 lg:w-10/12 lg:flex-row lg:mx-auto">
			<h4 class="text-3xl text-center mb-5">
				Are you looking for a unique experience?
			</h4>
			<p class="text-center text-lg">
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Corporis vero suscipit eaque molestias veritatis ea autem,
				blanditiis ex numquam voluptatibus quo earum ipsam temporibus
				unde repellat enim qui sint consectetur.
			</p>

			<div class="flex flex-col lg:justify-center gap-5 mt-10">
				<a
					href="#"
					class="bg-cta-600 text-white text-center py-5 font-bold transition-all duration-300 hover:bg-cta-700 hover:shadow-xl"
					>Hire a Flight</a
				>
				<a
					href="#"
					class="border-2 border-cta-600 text-center py-5 font-bold transition-all duration-300 hover:border-cta-700 hover:shadow-xl"
					>Whatsapp</a
				>
				<a href="#" class="text-center py-5 font-bold underline"
					>Contact Us</a
				>
			</div>
		</div>
	</section>

	<section class="container mb-20 p-5 lg:w-10/12 lg:flex-row lg:mx-auto">
		<h3 class="text-center mt-24">Helicopter Flights Reviews</h3>
		<a href="#" class="block text-center mb-10 hover:underline"
			>Disover all Reviews</a
		>

		<div class="grid gap-5 lg:grid-cols-4">
			<ReviewCard
				author="Jonh Sterling"
				title="Demo"
				review="Lorem"
				rating="5"
			/>
			<ReviewCard
				author="Jonh Sterling"
				title="Demo"
				review="Lorem"
				rating="5"
			/>
			<ReviewCard
				author="Jonh Sterling"
				title="Demo"
				review="Lorem"
				rating="5"
			/>
			<ReviewCard
				author="Jonh Sterling"
				title="Demo"
				review="Lorem"
				rating="5"
			/>
		</div>

		<div class="carousel-container mt-24">
			<div class="carousel-track carousel-rl">
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
			</div>
		</div>
		<div class="carousel-container mt-10">
			<div class="carousel-track carousel-lr">
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
				<div class="carousel-slide">
					<img src="post.jpg" alt="" slot="picture" />
				</div>
			</div>
		</div>

		<h3 class="mt-20 mb-5">Helicopter Flights FAQs</h3>
		<FaqCard
			question="How safe is it really to travel in private and non-commercial helicopters?"
		>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Adipisci saepe eum, iure quam, provident voluptatum asperiores
				veritatis rerum quibusdam maxime ipsam amet quisquam optio
				tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
			</p>
		</FaqCard>
		<FaqCard
			question="How safe is it really to travel in private and non-commercial helicopters?"
		>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Adipisci saepe eum, iure quam, provident voluptatum asperiores
				veritatis rerum quibusdam maxime ipsam amet quisquam optio
				tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
			</p>
		</FaqCard>
		<FaqCard
			question="How safe is it really to travel in private and non-commercial helicopters?"
		>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Adipisci saepe eum, iure quam, provident voluptatum asperiores
				veritatis rerum quibusdam maxime ipsam amet quisquam optio
				tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
			</p>
		</FaqCard>
		<FaqCard
			question="How safe is it really to travel in private and non-commercial helicopters?"
		>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Adipisci saepe eum, iure quam, provident voluptatum asperiores
				veritatis rerum quibusdam maxime ipsam amet quisquam optio
				tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
			</p>
		</FaqCard>
		<FaqCard
			question="How safe is it really to travel in private and non-commercial helicopters?"
		>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Adipisci saepe eum, iure quam, provident voluptatum asperiores
				veritatis rerum quibusdam maxime ipsam amet quisquam optio
				tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
			</p>
		</FaqCard>

		<div class="mt-20">
			<h2 class="mb-5">Helicopters Flights Blog</h2>
			<div class="grid grid-cols-1 gap-5 lg:grid-cols-4">
				<PostCard
					title="Helicopter flight from Cancun to Holbox"
					link="helicopter-flight-cancun-to-holbox"
				>
					<img
						src="post.jpg"
						alt=""
						slot="picture"
						class="transition-all duration-300 group-hover:scale-[1.1]"
					/>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dignissimos, laborum?...
					</p>
				</PostCard>
				<PostCard
					title="Helicopter flight from Cancun to Holbox"
					link="helicopter-flight-cancun-to-holbox"
				>
					<img
						src="post.jpg"
						alt=""
						slot="picture"
						class="transition-all duration-300 group-hover:scale-[1.1]"
					/>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dignissimos, laborum?...
					</p>
				</PostCard>
				<PostCard
					title="Helicopter flight from Cancun to Holbox"
					link="helicopter-flight-cancun-to-holbox"
				>
					<img
						src="post.jpg"
						alt=""
						slot="picture"
						class="transition-all duration-300 group-hover:scale-[1.1]"
					/>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dignissimos, laborum?...
					</p>
				</PostCard>
				<PostCard
					title="Helicopter flight from Cancun to Holbox"
					link="helicopter-flight-cancun-to-holbox"
				>
					<img
						src="post.jpg"
						alt=""
						slot="picture"
						class="transition-all duration-300 group-hover:scale-[1.1]"
					/>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Dignissimos, laborum?...
					</p>
				</PostCard>
			</div>
		</div>
	</section>

	<style>
		.overview {
			background: url("/public/bg-pattern.svg") no-repeat center center;
			background-size: cover;
		}
	</style>
</Layout>

<style>
	.carousel-container {
		width: 100%;
		display: flex;
		overflow: hidden;
		position: relative;
	}
	.carousel-container::before,
	.carousel-container::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 10%;
		z-index: 2;
	}
	.carousel-container::before {
		left: 0;
		background: linear-gradient(to right, white, transparent);
	}
	.carousel-container::after {
		right: 0;
		background: linear-gradient(to left, white, transparent);
	}
	.carousel-track {
		display: flex;
		gap: 20px; /* Espacio entre imágenes */
	}
	.carousel-rl {
		animation: leftScroll 10s linear infinite;
	}
	.carousel-lr {
		animation: rightScroll 10s linear infinite;
	}
	.carousel-slide {
		flex: 0 0 auto; /* Evita que las diapositivas se reduzcan o expandan */
	}
	.carousel-slide img {
		width: 220px;
		height: 180px;
		display: block;
		object-fit: cover;
	}
	@keyframes leftScroll {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-220px));
		} /* Ajuste para tener en cuenta el gap */
	}
	@keyframes rightScroll {
		0% {
			transform: translateX(calc(-200px));
		}
		100% {
			transform: translateX(0);
		} /* Ajuste para tener en cuenta el gap */
	}
</style>
