---
import Layout from "../layouts/Layout.astro";
import PlaceCard from "../components/PlaceCard.astro";
---

<Layout
    title="Airport for Helicopter Flights | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section class="px-5 mb-20 relative py-20 bg-gray-100 lg:px-0">
        <article class="lg:w-10/12 lg:mx-auto lg:text-center">
            <h1>
                The best places by <span class="text-cta-600"
                    >Helicopter Flights</span
                >
            </h1>
            <p class="text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur, nisi odit! Delectus soluta dolor ipsam voluptate
                nesciunt aperiam accusantium asperiores consectetur tenetur
                harum.
            </p>
        </article>
    </section>

    <section class="container mb-20 px-5 lg:w-10/12 lg:flex-row lg:mx-auto">
        <article class="lg:text-center">
            <h2>Helicopter Flights in the Mexican Caribbean</h2>
            <p class="mb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta, quaerat vitae ullam sint dicta ducimus quae eaque
                quibusdam molestiae voluptatibus voluptates quia sed. Repellat,
                totam voluptatem officiis perferendis velit deserunt. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Soluta iusto
                repellat cum, magni qui deserunt veniam aut ad deleniti
                cupiditate maiores dicta, quia nesciunt nam ipsum harum ipsa
                provident quam.
            </p>
            <p class="mb-5">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
                ratione aperiam corrupti cupiditate libero perferendis
                blanditiis, ipsum quaerat excepturi iste quae et ut at quam
                earum id omnis quasi impedit!
            </p>
        </article>
        <div class="bg-gray-200 mt-10 mb-24 lg:w-[90%] lg:h-[400px] lg:mx-auto">
        </div>

        <h3 class="mb-10 lg:text-center">
            The best destination by Fly in Helicopter
        </h3>
        <PlaceCard place="Cancun" url="cancun">
            <img src="cancun-place.jpg" alt="" slot="place-thumb" />
            <p slot="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                voluptatem ducimus excepturi fugiat debitis, repudiandae velit
                beatae dignissimos exercitationem itaque, voluptate, quo sequi
                totam ullam sapiente maxime cumque! Repudiandae, qui?
            </p>
        </PlaceCard>
        <PlaceCard place="Tulum" url="tulum">
            <img src="tulum-place.jpg" alt="" slot="place-thumb" />
            <p slot="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                voluptatem ducimus excepturi fugiat debitis, repudiandae velit
                beatae dignissimos exercitationem itaque, voluptate, quo sequi
                totam ullam sapiente maxime cumque! Repudiandae, qui?
            </p>
        </PlaceCard>
    </section>
</Layout>
