---
import Layout from "../layouts/Layout.astro";
import TablePricing from "../components/TablePricing.astro";
---

<Layout
    title="About Caribe Helicopters | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section class="container mb-20 lg:w-10/12 lg:flex-row lg:mx-auto">
        <h1 class="mt-[50px]">Helicopter Services Pricing</h1>
        <p class="mb-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            similique soluta ut numquam, fugiat architecto temporibus blanditiis
            nulla? Ad nesciunt, ipsam cupiditate quam hic quis minima earum
            autem nihil illum. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Quidem ad consectetur labore unde sint qui,
            pariatur distinctio atque, amet corrupti magnam officia natus
            excepturi recusandae illum odio placeat sunt nisi?
        </p>

        <h2>Helicopter Flights Pricing</h2>
        <p class="mb-10">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis
            error earum ipsum provident doloribus reprehenderit consequatur
            dignissimos vero cumque neque. Fugiat, nemo voluptatibus optio
            minima neque perspiciatis repellat praesentium facilis.
        </p>
        <TablePricing />

        <h2 class="mt-20">Helicopter Overflights Pricing</h2>
        <p class="mb-10">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repudiandae, adipisci eos voluptate fugiat quas, molestias assumenda
            officiis ad accusantium at iste est minima delectus facilis id ex
            earum unde quidem.
        </p>
        <TablePricing />
    </section>
</Layout>
