---
import Layout from "../layouts/Layout.astro";
import RouteCard from "../components/RouteCard.astro";
---

<Layout
    title="About Caribe Helicopters | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section class="px-5 mb-20 relative py-20 bg-gray-100 lg:px-0">
        <article class="lg:w-10/12 lg:mx-auto lg:text-center">
            <h1>
                Helicopter <span class="text-cta-600">Routes</span>
            </h1>
            <p class="text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur, nisi odit! Delectus soluta dolor ipsam voluptate
                nesciunt aperiam accusantium asperiores consectetur tenetur
                harum.
            </p>
        </article>
    </section>

    <section class="px-6 mb-20 lg:px-0 lg:w-10/12 lg:flex-row lg:mx-auto">
        <h2>Helicopter Flights Routes</h2>
        <p class="mb-10">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia at
            odit quia sint ad adipisci ipsa dolorum! Dolorem optio itaque,
            excepturi soluta perspiciatis ad omnis temporibus ipsam mollitia,
            voluptatem officiis?
        </p>

        <div class="flex flex-col gap-5 mb-10 md:flex-row">
            <a href="#" class="py-3 px-5 bg-gray-300">From Cancun</a>
            <a
                href="#"
                class="py-3 px-5 bg-gray-50 transition-all duration-300 hover:bg-gray-300"
                >From Playa del Carmen</a
            >
            <a
                href="#"
                class="py-3 px-5 bg-gray-50 transition-all duration-300 hover:bg-gray-300"
                >From Holbox</a
            >
            <a
                href="#"
                class="py-3 px-5 bg-gray-50 transition-all duration-300 hover:bg-gray-300"
                >From Cozumel</a
            >
        </div>

        <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
            <RouteCard
                from="Cancun"
                to="Playa del Carmen"
                pricing="1,200"
                link="cancun-to-playa-del-carmen"
            />
            <RouteCard
                from="Cancun"
                to="Holbox"
                pricing="1,400"
                link="cancun-to-holbox"
            />
            <RouteCard
                from="Cancun"
                to="Cozumel"
                pricing="1,200"
                link="cancun-to-cozumel"
            />
            <RouteCard
                from="Cancun"
                to="Tulum"
                pricing="1,800"
                link="cancun-to-tulum"
            />
        </div>
    </section>
</Layout>
