---
import Layout from "../layouts/Layout.astro";
import FaqCard from "../components/FaqCard.astro";
---

<Layout
    title="Helicopter Flights Services in Cancun | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section
        class="mb-20 bg-[url('/public/bg-section.jpg')] bg-no-repeat bg-cover bg-center bg-fixed relative py-20"
    >
        <article
            class="text-center relative z-[200] text-white lg:w-10/12 lg:mx-auto"
        >
            <h1>Helicopter Flights Services in Cancun</h1>
            <p class="text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur, nisi odit! Delectus soluta dolor ipsam voluptate
                nesciunt aperiam accusantium asperiores consectetur tenetur
                harum.
            </p>
        </article>
        <div class="mask-section"></div>
    </section>

    <section class="container mb-20 lg:w-10/12 lg:flex-row lg:mx-auto">
        <h2 class="text-center">Helicopter Flight Services</h2>
        <p class="text-center mb-10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            minima necessitatibus repudiandae modi sit corporis maxime
            perferendis ipsum sapiente deserunt. Temporibus molestiae
            voluptatibus soluta! Eveniet vel mollitia facere a consequuntur?
        </p>

        <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
            <article class="group">
                <a href="/flights" title="Helicopter Flights in Cancun">
                    <div class="relative overflow-hidden">
                        <img
                            src="overflights.jpg"
                            alt=""
                            class="transition-all duration-300 group-hover:scale-[1.1]"
                        />
                        <div
                            class="absolute left-0 bottom-0 w-full py-2 pl-5 bg-gradient-to-t from-black to-transparent"
                        >
                            <h3
                                class="text-white transition-all duration-300 group-hover:underline"
                            >
                                Helicopter Flights
                            </h3>
                        </div>
                    </div>
                </a>
                <p class="mt-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quis voluptas vero ipsam repudiandae blanditiis aliquam
                    temporibus pariatur, possimus molestias accusamus totam
                    unde, velit hic corrupti saepe veritatis, quidem recusandae
                    nulla?
                </p>
            </article>
            <article class="relative group overflow-hidden">
                <div class="relative overflow-hidden">
                    <a
                        href="/overflights"
                        title="Cancun Overflights in Helicopter"
                    >
                        <img
                            src="helicopter-flights.jpg"
                            alt=""
                            class="transition-all duration-300 group-hover:scale-[1.1]"
                        />
                        <div
                            class="absolute left-0 bottom-0 w-full py-2 pl-5 bg-gradient-to-t from-black to-transparent"
                        >
                            <h3
                                class="text-white transition-all duration-300 group-hover:underline"
                            >
                                Helicopter Overflights
                            </h3>
                        </div>
                    </a>
                </div>
                <p class="mt-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quis voluptas vero ipsam repudiandae blanditiis aliquam
                    temporibus pariatur, possimus molestias accusamus totam
                    unde, velit hic corrupti saepe veritatis, quidem recusandae
                    nulla?
                </p>
            </article>
        </div>

        <h3 class="mt-20 mb-5">Helicopter Flights Services FAQs</h3>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
        <FaqCard
            question="How safe is it really to travel in private and non-commercial helicopters?"
        >
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Adipisci saepe eum, iure quam, provident voluptatum asperiores
                veritatis rerum quibusdam maxime ipsam amet quisquam optio
                tempore ex, sapiente ullam consequuntur <b>reiciendis.</b>
            </p>
        </FaqCard>
    </section>
</Layout>
