---
import Layout from "../layouts/Layout.astro";
import FaqCard from "../components/FaqCard.astro";
---

<Layout
    title="Helicopter Flights Services in Cancun | Caribe Helicopters"
    description=""
    headerTheme="solid"
>
    <section class="px-5 mb-20 relative py-20 bg-gray-100 lg:px-5">
        <article class="lg:text-center lg:w-10/12 lg:mx-auto">
            <h1>
                Helicopter Flights <span class="text-cta-600">Services</span>
            </h1>
            <p class="text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur, nisi odit! Delectus soluta dolor ipsam voluptate
                nesciunt aperiam accusantium asperiores consectetur tenetur
                harum.
            </p>
        </article>
    </section>

    <section class="container mb-20 px-5 lg:w-10/12 lg:flex-row lg:mx-auto">
        <h2 class="lg:text-center">The best Helicopter Services</h2>
        <p class="mb-24 lg:text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
            eligendi, saepe a dicta illum fugit illo in voluptas tempora ut
            doloribus autem perferendis quaerat quam fuga facere? Ducimus, vero
            molestias.
        </p>

        <!-- Tours in Helicopter -->
        <div class="flex flex-col mb-10 lg:mb-24 lg:flex-row">
            <a
                href="tours-in-helicopter"
                title="Helicopter Flights in Cancun"
                class="lg:w-1/2"
            >
                <img src="overflights.jpg" alt="" />
            </a>
            <article class="py-5 lg:p-5 lg:w-1/2">
                <b class="text-cta-600 font-bold lg:text-xl"
                    >Fascinating experience through the skies</b
                >
                <h3 class="block mb-3">
                    <a href="tours-in-helicopter" class="hover:underline"
                        >Tours in Helicopter</a
                    >
                </h3>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Officiis at nobis vero molestias dignissimos ipsa iure?
                    Debitis facere, laboriosam numquam quam perspiciatis unde,
                    doloremque aliquid ea, praesentium illo nam incidunt!
                </p>
                <ul class="mb-10 grid grid-cols-1 gap-y-3 lg:grid-cols-2">
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Move directly and smoothly.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Enjoy the best views of the Caribbean.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Ideal for up to 6 passengers.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Return to your hotel on time.</span>
                    </li>
                </ul>

                <div class="flex flex-col lg:gap-x-5 lg:flex-row">
                    <a
                        href="tours-in-helicopter"
                        class="bg-cta-600 text-white relative py-4 px-7 text-lg font-bold flex z-20 w-full mx-auto mt-5 items-center gap-3 justify-center transition-all duration-300 hover:bg-second-950 hover:text-white hover:shadow-xl lg:w-fit lg:m-0"
                    >
                        <span>Explore</span>
                        <img src="svg/arrow-next-white.svg" width="20" alt="" />
                    </a>
                    <div
                        class="mt-5 text-center lg:leading-3 lg:text-left lg:mt-0"
                    >
                        <b class="text-2xl block">500<small>USD</small></b>
                        <span>From</span>
                    </div>
                </div>
            </article>
        </div>

        <!-- Helicopter Overflights -->
        <div class="flex flex-col mb-24 lg:flex-row">
            <article class="py-5 order-2 lg:p-5 lg:w-1/2 lg:order-1">
                <b class="text-cta-600 font-bold lg:text-xl"
                    >Beautiful panoramic views of major cities</b
                >
                <h3 class="block mb-3">
                    <a href="helicopter-overflights" class="hover:underline"
                        >Helicopter Overflights</a
                    >
                </h3>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Officiis at nobis vero molestias dignissimos ipsa iure?
                    Debitis facere, laboriosam numquam quam perspiciatis unde,
                    doloremque aliquid ea, praesentium illo nam incidunt!
                </p>
                <ul class="mb-10 grid grid-cols-1 gap-y-3 lg:grid-cols-2">
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Move directly and smoothly.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Enjoy the best views of the Caribbean.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Ideal for up to 6 passengers.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Return to your hotel on time.</span>
                    </li>
                </ul>
                <div class="flex flex-col lg:gap-x-5 lg:flex-row">
                    <a
                        href="helicopter-overflights"
                        class="bg-cta-600 text-white relative py-4 px-7 text-lg font-bold flex z-20 w-full mx-auto mt-5 items-center gap-3 justify-center transition-all duration-300 hover:bg-second-950 hover:text-white hover:shadow-xl lg:w-fit lg:m-0"
                    >
                        <span>Explore</span>
                        <img src="svg/arrow-next-white.svg" width="20" alt="" />
                    </a>
                    <div
                        class="mt-5 text-center lg:leading-3 lg:text-left lg:mt-0"
                    >
                        <b class="text-2xl block">500<small>USD</small></b>
                        <span>From</span>
                    </div>
                </div>
            </article>
            <a
                href="helicopter-overflights"
                title="Helicopter Flights in Cancun"
                class="order-1 lg:w-1/2 lg:order-2"
            >
                <img src="overflights.jpg" alt="" />
            </a>
        </div>

        <!-- Helicopter Transfers -->
        <div class="flex flex-col mb-24 lg:flex-row">
            <a
                href="helicopter-transfers"
                title="Helicopter Flights in Cancun"
                class="lg:w-1/2"
            >
                <img src="overflights.jpg" alt="" />
            </a>
            <article class="py-5 lg:p-5 lg:w-1/2">
                <b class="text-cta-600 font-bold lg:text-xl"
                    >Travel in style in the Caribbean</b
                >
                <h3 class="block mb-3">
                    <a href="helicopter-transfers" class="hover:underline"
                        >Helicopter Transfers</a
                    >
                </h3>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Officiis at nobis vero molestias dignissimos ipsa iure?
                    Debitis facere, laboriosam numquam quam perspiciatis unde,
                    doloremque aliquid ea, praesentium illo nam incidunt!
                </p>
                <ul class="mb-10 grid grid-cols-1 gap-y-3 lg:grid-cols-2">
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Move directly and smoothly.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Enjoy the best views of the Caribbean.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Ideal for up to 6 passengers.</span>
                    </li>
                    <li class="flex gap-1 text-sm">
                        <img src="svg/check-cta.svg" width="18" />
                        <span>Return to your hotel on time.</span>
                    </li>
                </ul>
                <div class="flex flex-col lg:gap-x-5 lg:flex-row">
                    <a
                        href="helicopter-transfers"
                        class="bg-cta-600 text-white relative py-4 px-7 text-lg font-bold flex z-20 w-full mx-auto mt-5 items-center gap-3 justify-center transition-all duration-300 hover:bg-second-950 hover:text-white hover:shadow-xl lg:w-fit lg:m-0"
                    >
                        <span>Explore</span>
                        <img src="svg/arrow-next-white.svg" width="20" alt="" />
                    </a>
                    <div
                        class="mt-5 text-center lg:leading-3 lg:text-left lg:mt-0"
                    >
                        <b class="text-2xl block">500<small>USD</small></b>
                        <span>From</span>
                    </div>
                </div>
            </article>
        </div>
    </section>
</Layout>
