---
import Layout from "../layouts/Layout.astro";
import TourCard from "../components/TourCard.astro";
import HelpInfo from "../components/HelpInfo.astro";
---

<Layout
    title="Helicopter Flights in Cancun, Holbox, Cozumel and the Caribbean | Caribe Helicopters"
    description=""
    headerTheme="transparent"
>
    <section class="flex flex-col lg:flex-row lg:h-[600px] mb-10">
        <div class="overview p-5 lg:w-3/5 lg:pl-14">
            <h1 class="mt-[100px] lg:mt-[200px]">
                Tours in <span class="text-cta-600">Helicopter</span>
            </h1>
            <p class="text-lg mb-10">
                Experience the breathtaking landscapes that the Mexican
                Caribbean has to offer, climb aboard our <b
                    >exclusive Helicopter Tours</b
                > and discover the most emblematic areas of the Riviera Maya.
            </p>
            <a
                href="#sec-experiences"
                class="bg-cta-600 text-white relative py-4 px-7 text-lg font-bold flex z-20 w-10/12 mx-auto mt-5 items-center gap-3 justify-center transition-all duration-300 hover:bg-second-950 hover:text-white hover:shadow-xl lg:w-fit lg:m-0"
            >
                <span>Explore Experiences</span>
                <img src="svg/arrow-next-white.svg" width="20" alt="" />
            </a>
        </div>
        <div class="bg-gray-50 p-5 lg:p-0 lg:w-2/5">
            <img
                src="hero-helicopter.jpg"
                alt=""
                class="-mt-[120px] z-10 lg:mt-0 lg:h-[600px] object-cover"
            />
        </div>
    </section>

    <section
        class="container mb-20 p-5 flex flex-wrap lg:w-10/12 lg:flex-row lg:gap-5 lg:mx-auto"
    >
        <div class="" id="sec-experiences">
            <h2>The best Cancun & Riviera Maya Tours in Helicopter</h2>
            <p class="mb-10">
                Experience luxury and comfort as our crew guides you through
                some of the region's most breathtaking scenery.
            </p>

            <div class="flex flex-col gap-5 lg:flex-row">
                <div class="lg:w-3/4">
                    <TourCard
                        title="Holbox Fast Day"
                        duration="4 Hrs"
                        pricing="500"
                        link="holbox-helicopter-fast-day"
                    >
                        <img src="cancun-thumb.jpg" alt="" slot="thumb" />
                        <p class="text-sm mb-5" slot="description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Natus tenetur nobis voluptates aut, cupiditate
                            ipsa sapiente fugit a blanditiis reprehenderit
                            quas...
                        </p>
                    </TourCard>
                    <TourCard
                        title="Tulum Culture & Adenture"
                        duration="6 Hrs"
                        pricing="460"
                        link="tulum-culture-adventure"
                    >
                        <img src="cozumel-thumb.jpg" alt="" slot="thumb" />
                        <p class="text-sm mb-5" slot="description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Natus tenetur nobis voluptates aut, cupiditate
                            ipsa sapiente fugit a blanditiis reprehenderit
                            quas...
                        </p>
                    </TourCard>
                </div>

                <div class="lg:w-1/4">
                    <HelpInfo />
                </div>
            </div>
        </div>
    </section>

    <style>
        .overview {
            background: url("/public/bg-pattern.svg") no-repeat center center;
            background-size: cover;
        }
    </style>
</Layout>
