---
interface Props {
    airport: string;
}

const { airport } = Astro.props;
---

<article class="relative overflow-hidden group">
    <a href="#">
        <slot />
        <div
            class="absolute left-0 bottom-0 w-full py-2 pl-5 bg-gradient-to-t from-black to-transparent"
        >
            <h3
                class="text-white transition-all duration-300 group-hover:underline"
            >
                {airport}
            </h3>
        </div>
    </a>
</article>
