---
interface Props {
    airport: string;
}

const { airport } = Astro.props;
---

<article class="relative overflow-hidden group">
    <a href="#">
        <slot />
        <div class="absolute left-0 bottom-0 w-full py-2 pl-5">
            <h3 class="transition-all duration-300 group-hover:underline">
                {airport}
            </h3>
        </div>
    </a>
</article>
