---
interface Props {
    helicopter: string;
    people: number;
}

const { helicopter, people } = Astro.props;
---

<div>
    <slot name="picture" />
    <h5 class="mt-5 mb-5">
        {helicopter}
    </h5>
    <div class="flex items-center gap-1">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><circle cx="12" cy="6" r="4" fill="#999999"></circle><path
                fill="#999999"
                d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5"
            ></path></svg
        >
        <span class="text-sm">Up to {people} people</span>
    </div>
</div>
