---
interface Props {
    title: string;
    link: string;
}

const { title, link } = Astro.props;
const linkPost = `/blog/${link}`;
---

<article class="group">
    <div class="relative mb-3 overflow-hidden">
        <a href={linkPost}>
            <slot name="picture" />
            <div
                class="absolute left-0 bottom-0 w-full py-2 pl-5 bg-gradient-to-t from-black to-transparent"
            >
                <h3
                    class="text-white transition-all duration-300 group-hover:underline"
                >
                    {title}
                </h3>
            </div>
        </a>
    </div>
    <slot />
    <a
        href={linkPost}
        class="block mt-2 font-bold transition-all duration-300 group-hover:underline"
        >Read more</a
    >
</article>
