---
interface Props {
    author: string;
    title: string;
    rating: string;
}

const { author, title, rating } = Astro.props;

// Crea una función que devuelva la cantidad de estrellas de la propiedad rating
const domRating = (rating: string) => {
    const stars = parseInt(rating);
    const yellowStars = `<span class="text-yellow-400 text-xl">★</span>`.repeat(
        stars,
    );
    const grayStars = `<span class="text-gray-400 text-xl">★</span>`.repeat(
        5 - stars,
    );
    return yellowStars + grayStars;
};
---

<article
    class="transition-all duration-300 shadow-lg p-5 text-center border-2 border-second-200 hover:shadow-xl hover:border-cta-600"
>
    <span class="block text-lg text-cta-600">{author}</span>
    <b class="block mb-5">{title}</b>
    <slot />
    <div class="block mt-5" set:html={domRating(rating)} />
</article>
