---

---

<table class="w-full bg-gray-50">
    <thead>
        <tr>
            <th></th>
            <th class="text-left"><b>Cancun</b></th>
            <th class="text-left"><b>Playa del Carmen</b></th>
            <th class="text-left"><b>Cozumel</b></th>
            <th class="text-left"><b>Holbox</b></th>
            <th class="text-left"><b>Tulum</b></th>
            <th class="text-left"><b>Chichen Itza</b></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Cancun</b></td>
            <td>50</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
            <td>500</td>
        </tr>
        <tr>
            <td><b>Playa del Carmen</b></td>
            <td>50</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
            <td>500</td>
        </tr>
        <tr>
            <td><b>Cozumel</b></td>
            <td>50</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
            <td>500</td>
        </tr>
        <tr>
            <td><b>Holbox</b></td>
            <td>50</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
            <td>500</td>
        </tr>
        <tr>
            <td><b>Tulum</b></td>
            <td>50</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
            <td>500</td>
        </tr>
        <tr>
            <td><b>Chichen Itza</b></td>
            <td>50</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
            <td>500</td>
        </tr>
    </tbody>
</table>

<style>
    table {
        border: solid 2px #e8e8e8;
        border-collapse: collapse;
        table-layout: fixed;
    }

    table td,
    table th {
        padding: 10px;
    }

    table thead tr {
        border-bottom: 2px solid #e8e8e8;
    }

    table tbody tr {
        border-bottom: 1px solid #e8e8e8;
    }
    table tbody tr td:first-of-type {
        border-right: 2px solid #e8e8e8;
    }
</style>
