---

---

<footer class="bg-blue-900 py-10">
    <div
        class="container relative flex flex-col lg:w-10/12 lg:flex-row lg:mx-auto"
    >
        <div class="lg:w-1/4">
            <span>Information</span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/flights">Flights</a></li>
                <li><a href="/overflights">Overflights</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/airports">Airports</a></li>
                <li><a href="/places">Places</a></li>
                <li><a href="/routes">Routes</a></li>
                <li><a href="/contact-us">Contact</a></li>
                <li><a href="/faqs">Frequently Asked</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </div>
        <div class="lg:w-1/4">
            <span>Places</span>
            <ul>
                <li><a href="">Cancun</a></li>
                <li><a href="">Playa del Carmen</a></li>
                <li><a href="">Cozumel</a></li>
                <li><a href="">Holbox</a></li>
                <li><a href="">Tulum</a></li>
                <li><a href="">Chichen Itza</a></li>
                <li><a href="">Merida</a></li>
            </ul>
        </div>
        <div class="lg:w-1/4">
            <span>Routes</span>
            <ul>
                <li><a href="">Cancun to Holbox</a></li>
                <li><a href="">Cancun to Cozumel</a></li>
                <li><a href="">Cancun to Chichen Itza</a></li>
                <li><a href="">Playa del Carmen to Holbox</a></li>
                <li><a href="">Playa del Carmen to Chichen Itza</a></li>
                <li><a href="">All routes</a></li>
            </ul>
        </div>
        <div class="lg:w-1/4">
            <div>
                <span>(998) 223 5933</span>
            </div>
            <div>
                <span>hi@caribehelicopters.com</span>
            </div>
            <div>
                <span>Cancun, Q. Roo. México</span>
            </div>
            <div>
                <a href="">Facebook</a>
                <a href="">Instagram</a>
            </div>
        </div>
    </div>
</footer>
