---

---

<footer class="bg-cta-600 py-10 px-5">
    <div
        class="container relative flex flex-col gap-5 md:flex-row md:flex-wrap lg:w-10/12 lg:flex-row lg:mx-auto"
    >
        <div class="md:w-full md:text-center md:mb-5 lg:w-1/4">
            <a href="/" title="Caribe Helicopters">
                <img
                    src="caribe-helicopters-white.png"
                    class="block w-2/3 md:w-1/3 md:mx-auto"
                    alt=""
                />
            </a>
            <div class="mt-5 flex gap-3 md:justify-center">
                <a href="#" title="Follow us on Facebook">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#ffffff"
                            d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02"
                        ></path></svg
                    >
                </a>
                <a href="#" title="Follow us on Instagram">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#ffffff"
                            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
                        ></path></svg
                    >
                </a>
                <a href="#" title="Follow us on Tripadvisor">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        ><path
                            fill="#ffffff"
                            d="M12.006 4.295c-2.67 0-5.338.784-7.645 2.353H0l1.963 2.135a5.997 5.997 0 0 0 4.04 10.43a5.98 5.98 0 0 0 4.075-1.6L12 19.705l1.922-2.09a5.97 5.97 0 0 0 4.072 1.598a6 6 0 0 0 6-5.998a5.98 5.98 0 0 0-1.957-4.432L24 6.648h-4.35a13.57 13.57 0 0 0-7.644-2.353M12 6.255c1.531 0 3.063.303 4.504.903C13.943 8.138 12 10.43 12 13.1c0-2.671-1.942-4.962-4.504-5.942A11.7 11.7 0 0 1 12 6.256zM6.002 9.157a4.059 4.059 0 1 1 0 8.118a4.059 4.059 0 0 1 0-8.118m11.992.002a4.057 4.057 0 1 1 .003 8.115a4.057 4.057 0 0 1-.003-8.115m-11.992 1.93a2.128 2.128 0 0 0 0 4.256a2.128 2.128 0 0 0 0-4.256m11.992 0a2.128 2.128 0 0 0 0 4.256a2.128 2.128 0 0 0 0-4.256"
                        ></path></svg
                    >
                </a>
            </div>
            <div class="mt-5">
                <span class="block mb-1">Call us</span>
                <a href="tel:9982235933" class="text-white text-lg"
                    >+52 (998) 223 5933</a
                >
            </div>
            <div class="mt-2">
                <span class="block mb-1">Write us</span>
                <a
                    href="mailto:hi@caribehelicopters.com"
                    class="text-white text-lg">hi@caribehelicopters.com</a
                >
            </div>
        </div>
        <div class="md:w-1/4 lg:w-1/4">
            <span class="block mb-2 font-bold">Information</span>
            <ul class="text-white flex flex-col gap-2 text-lg">
                <li><a href="/about-us">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/flights">Flights</a></li>
                <li><a href="/overflights">Overflights</a></li>
                <li><a href="/places">Places</a></li>
                <li><a href="/routes">Routes</a></li>
                <li><a href="/contact-us">Contact</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="md:w-1/3 lg:w-1/4">
            <span class="font-bold block mb-2">Helicopter Flights</span>
            <ul class="text-white flex flex-col gap-2 text-lg">
                <li><a href="">Cancun</a></li>
                <li><a href="">Playa del Carmen</a></li>
                <li><a href="">Cozumel</a></li>
                <li><a href="">Tulum</a></li>
                <li><a href="">Holbox</a></li>
                <li><a href="">Chichen Itza</a></li>
            </ul>
        </div>
        <div class="md:w-1/3 lg:w-1/4">
            <span class="font-bold block mb-2">Popular Tours</span>
            <ul class="text-white flex flex-col gap-2 text-lg">
                <li><a href="">Cancun Overflight</a></li>
                <li><a href="">Holbox Daytrip</a></li>
                <li><a href="">Chichen Itza Fliying</a></li>
                <li><a href="">Isla Mujeres Overflight</a></li>
                <li><a href="">Tulum Daytrip</a></li>
                <li><a href="">All Tours</a></li>
            </ul>
        </div>
    </div>
</footer>
<nav class="bg-cta-700 py-4">
    <div
        class="container relative flex flex-col gap-2 text-center md:flex-row md:justify-center lg:w-10/12 lg:flex-row lg:mx-auto"
    >
        <small>2024 All rights reserved.</small>
        <small class="lg:ml-2"
            ><a href="/" title="Caribe Helicopters" class="underline"
                >Caribe Helicopters</a
            ></small
        >

        <a href="#" class="lg:ml-10 text-sm hover:underline">Privacy Policies</a
        >
        <a href="#" class="lg:ml-3 text-sm hover:underline"
            >Reservation Policies</a
        >
        <a href="#" class="lg:ml-3 text-sm hover:underline">Frequently Asked</a>
    </div>
</nav>
