---
interface Props {
    theme: string;
}

const { theme } = Astro.props;
---

<header class:list={theme} class="py-5">
    <section
        class="container relative flex flex-col gap-10 lg:justify-between lg:flex-row lg:w-10/12 lg:mx-auto xl:gap-20"
    >
        <div>
            <a href="/" title="Helicopter Flights in Cancun">
                <img src="caribe-helicopters.png" class="w-[160px]" alt="" />
            </a>
        </div>
        <div class="flex gap-20 items-center">
            <nav>
                <ul
                    class="flex flex-col text-primary-950 font-bold font-josefin text-xl lg:flex-row lg:justify-end lg:gap-7"
                >
                    <li><a href="/">Home</a></li>
                    <li><a href="/flights">Flights</a></li>
                    <li><a href="/overflights">Overflights</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/places">Places</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
            <a
                href="#"
                class="button-hire-nav bg-cta-600 font-josefin transition-all duration-300 hover:bg-cta-700"
                >Hire a Flight</a
            >
            <!-- <a
                href="#"
                class="button-lang transition-all duration-300 hover:bg-gray-300"
                >ES</a
            > -->
        </div>
    </section>
</header>
