---
interface Props {
    theme: string;
}

const { theme } = Astro.props;
---

<header class:list={theme} class="py-5" id="header">
    <section
        class="container relative flex flex-col px-5 lg:px-0 lg:justify-between lg:flex-row lg:w-10/12 lg:mx-auto xl:gap-10"
    >
        <div class="flex justify-between items-center">
            <a href="/" title="Helicopter Flights in Cancun">
                <img src="/caribe-helicopters.png" class="w-[160px]" alt="" />
            </a>

            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                class="lg:hidden"
                id="navIcon"
                viewBox="0 0 16 16"
                ><path
                    fill="#000000"
                    fill-rule="evenodd"
                    d="M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75M2 8a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 8m6 4.25a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75"
                    clip-rule="evenodd"></path></svg
            >
        </div>
        <div
            id="nab"
            class="flex flex-col gap-10 h-screen fixed left-0 top-0 bg-cta-600 p-5 w-2/3 z-[9000] transition-transform transform -translate-x-full lg:bg-transparent lg:relative lg:h-auto lg:w-auto lg:p-0 lg:flex-row lg:justify-between lg:gap-10 lg:items-center xl:gap-20"
        >
            <nav>
                <ul
                    class="flex flex-col gap-5 text-white font-bold font-josefin text-xl lg:text-lg lg:text-primary-950 lg:flex-row lg:justify-end lg:gap-7"
                >
                    <li><a href="/">Home</a></li>
                    <li><a href="/tours-in-helicopter">Tours</a></li>
                    <li><a href="/helicopter-overflights">Overflights</a></li>
                    <li><a href="/helicopter-transfers">Transfers</a></li>
                    <li><a href="/places">Places</a></li>
                    <li><a href="/contact-us">Contact</a></li>
                    <!-- <li><a href="/blog">Blog</a></li> -->
                </ul>
            </nav>
            <a
                href="#"
                class="bg-white text-second-950 py-5 text-center text-xl font-bold font-josefin transition-all duration-300 hover:bg-second-950 hover:text-white lg:text-lg lg:p-3 lg:bg-cta-600 lg:text-white"
                >Hire a Flight</a
            >
        </div>
    </section>
</header>

<script>
    const navIcon = document.getElementById("navIcon");
    if (navIcon) {
        navIcon.addEventListener("click", () => {
            let nav = document.querySelector("#nab");

            if (nav) {
                if (nav.classList.contains("-translate-x-full")) {
                    nav.classList.remove("-translate-x-full");
                    nav.classList.add("translate-x-0");
                } else {
                    nav.classList.remove("translate-x-0");
                    nav.classList.add("-translate-x-full");
                }
            }
        });

        document.addEventListener("click", function (event) {
            const header = document.querySelector("#header");

            if (header) {
                const nav = document.querySelector("#nab");
                const isClickInside = header.contains(event.target as Node);

                if (nav) {
                    if (
                        !isClickInside &&
                        nav.classList.contains("translate-x-0")
                    ) {
                        nav.classList.remove("translate-x-0");
                        nav.classList.add("-translate-x-full");
                    }
                }
            }
        });
    }
</script>
